In [3]:
!pip install fundamentus yfinance

Requirement already satisfied: fundamentus in c:\python313\lib\site-packages (0.3.2)
Requirement already satisfied: yfinance in c:\python313\lib\site-packages (0.2.64)
Requirement already satisfied: requests>=2.32.4 in c:\python313\lib\site-packages (from fundamentus) (2.32.4)
Requirement already satisfied: requests-cache>=1.2.1 in c:\python313\lib\site-packages (from fundamentus) (1.2.1)
Requirement already satisfied: pandas>=2.3.0 in c:\python313\lib\site-packages (from fundamentus) (2.3.0)
Requirement already satisfied: lxml>=5.4.0 in c:\python313\lib\site-packages (from fundamentus) (6.0.0)
Requirement already satisfied: tabulate>=0.9.0 in c:\python313\lib\site-packages (from fundamentus) (0.9.0)
Requirement already satisfied: numpy>=1.16.5 in c:\python313\lib\site-packages (from yfinance) (2.3.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\python313\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\nakaj\appdata\roaming\python\python313\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\python313\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\python313\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\python313\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\python313\lib\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\python313\lib\site-packages (from yfinance) (0.11.4)
Requirement already satisfied: protobuf>=3.19.0 in c:\python313\lib\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\python313\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\python313\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.0)
Requirement already satisfied: cffi>=1.12.0 in c:\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\python313\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\python313\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nakaj\appdata\roaming\python\python313\site-packages (from pandas>=2.3.0->fundamentus) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\python313\lib\site-packages (from pandas>=2.3.0->fundamentus) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nakaj\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas>=2.3.0->fundamentus) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\python313\lib\site-packages (from requests>=2.32.4->fundamentus) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\python313\lib\site-packages (from requests>=2.32.4->fundamentus) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python313\lib\site-packages (from requests>=2.32.4->fundamentus) (2.4.0)
Requirement already satisfied: attrs>=21.2 in c:\python313\lib\site-packages (from requests-cache>=1.2.1->fundamentus) (25.3.0)
Requirement already satisfied: cattrs>=22.2 in c:\python313\lib\site-packages (from requests-cache>=1.2.1->fundamentus) (25.1.1)
Requirement already satisfied: url-normalize>=1.4 in c:\python313\lib\site-packages (from requests-cache>=1.2.1->fundamentus) (2.2.1)

In [4]:
# Importando a biblioteca
import yfinance as yf

In [5]:
# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [6]:
# Carregando os dados da carteira
df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

C:\Users\nakaj\AppData\Local\Temp\ipykernel_25448\3793461737.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")
[*********************100%***********************]  10 of 10 completed

In [7]:
df.head(3)

Price           Close                                                        \
Ticker       ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA  ITSA4.SA   PETR4.SA
Date
2022-08-01  12.967611  10.145851  44.577347  15.048724  6.266037  15.889889
2022-08-02  13.038520  10.080516  44.922466  15.512845  6.324735  15.960656
2022-08-03  12.967611  10.416532  45.066257  14.883429  6.376098  15.970096

Price                                                   ...    Volume  \
Ticker       RENT3.SA   SUZB3.SA   VALE3.SA   WEGE3.SA  ...  ABEV3.SA
Date                                                    ...
2022-08-01  51.317513  43.352531  53.973637  26.600924  ...  34565900
2022-08-02  51.559906  43.708706  55.694000  27.077980  ...  12515800
2022-08-03  53.166946  43.224678  53.529663  26.829912  ...  19576600

Price                                                                  \
Ticker      B3SA3.SA  ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA RENT3.SA
Date
2022-08-01  26237600  12239200  16655058  25799552  81365100  6769429
2022-08-02  29130100   7477600  16078734  15750344  69147100  4870629
2022-08-03  29172900   8281500  30645468  25337732  65544500  4927295

Price
Ticker     SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01  7127600  38874000  8202200
2022-08-02  4379000  32636900  7214800
2022-08-03  4451900  31934600  6627100

[3 rows x 50 columns]

In [8]:
# Passando os ativos para o multindex do df
cotacoes = df.stack (level = 1)
cotacoes

C:\Users\nakaj\AppData\Local\Temp\ipykernel_25448\3755102370.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack (level = 1)

Price                    Close       High        Low       Open    Volume
Date       Ticker
2022-08-01 ABEV3.SA  12.967611  13.198068  12.790337  13.171476  34565900
           B3SA3.SA  10.145851  10.379196   9.996510  10.285859  26237600
           ELET3.SA  44.577347  44.951221  43.772078  43.906289  12239200
           GGBR4.SA  15.048724  15.659066  14.940643  15.659066  16655058
           ITSA4.SA   6.266037   6.368759   6.200002   6.346748  25799552
...                        ...        ...        ...        ...       ...
2023-07-31 PETR4.SA  23.145252  23.175011  22.542627  22.542627  91290800
           RENT3.SA  62.014725  62.420652  61.295129  61.848667   5980447
           SUZB3.SA  45.487907  45.998902  44.797120  44.844433   4602700
           VALE3.SA  59.138847  59.583497  58.010107  58.146926  26065700
           WEGE3.SA  38.675621  39.034090  38.569053  39.034090   7141800

[2500 rows x 5 columns]

In [10]:
# Verificando colunas antes de renomear
cotacoes = cotacoes.reset_index()

# Verifique se 'level_1' está nas colunas
if 'level_1' in cotacoes.columns:
    cotacoes = cotacoes.rename(columns={'level_1': 'Ativo'})
elif 'Ativo' not in cotacoes.columns:
    # Adicione manualmente se necessário
    cotacoes['Ativo'] = 'N/A'  # ou insira uma lógica adequada

# Verifique colunas disponíveis
print("Colunas disponíveis:", cotacoes.columns)

# Agora, selecione apenas as colunas que realmente existem
colunas_esperadas = ["Date", "Open", "High", "Low", "Close", "Ativo"]
colunas_disponiveis = [col for col in colunas_esperadas if col in cotacoes.columns]
cotacoes = cotacoes[colunas_disponiveis]

# Exibir resultado
print(cotacoes.head())

Colunas disponíveis: Index(['index', 'Date', 'Open', 'High', 'Low', 'Close', 'Ativo'], dtype='object', name='Price')
Price       Date       Open       High        Low      Close Ativo
0     2022-08-01  13.171476  13.198068  12.790337  12.967611   N/A
1     2022-08-01  10.285859  10.379196   9.996510  10.145851   N/A
2     2022-08-01  43.906289  44.951221  43.772078  44.577347   N/A
3     2022-08-01  15.659066  15.659066  14.940643  15.048724   N/A
4     2022-08-01   6.346748   6.368759   6.200002   6.266037   N/A

In [11]:
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2500 non-null   datetime64[ns]
 1   Open    2500 non-null   float64
 2   High    2500 non-null   float64
 3   Low     2500 non-null   float64
 4   Close   2500 non-null   float64
 5   Ativo   2500 non-null   object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 117.3+ KB

In [12]:
# Código completo da obtenção dos dados históricos das cotações da carteira de 01/08/2022 à 01/08/2023
# Importando a biblioteca
import yfinance as yf

# Definindo a carteira de ações
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

# Carregando os dados da carteira
df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

# Passando os ativos para o multindex do df
cotacoes = df.stack(level=1)

# Resetando os índices e renomenado a coluna dos ativos
cotacoes = cotacoes.reset_index().rename(columns={'level_1': 'Ativo'})

# Organizando o df
cotacoes = cotacoes[["Date", "Open", "High", "Low", "Close", "Ativo"]]

del carteira_yf, df

C:\Users\nakaj\AppData\Local\Temp\ipykernel_25448\827987697.py:10: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")
[*********************100%***********************]  10 of 10 completed
C:\Users\nakaj\AppData\Local\Temp\ipykernel_25448\827987697.py:13: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level=1)

KeyError: "['Ativo'] not in index"

In [13]:
# Importando as bibliotecas
import fundamentus
import pandas as pd

2025-07-08 22:20:15,004 [logging.log_init] INFO: LOGLEVEL=INFO

In [14]:
# Lendo um papel específico
weg = fundamentus.get_papel("WEGE3")
weg

2025-07-08 22:20:16,371 [detalhes.get_papel] INFO: detalhes: call: get..._papel()

,Papel,Tipo,Empresa,Setor,Subsetor,Cotacao,Data_ult_cot,Min_52_sem,Max_52_sem,Vol_med_2m,...,Ativo_Circulante,Div_Bruta,Div_Liquida,Patrim_Liq,Receita_Liquida_12m,EBIT_12m,Lucro_Liquido_12m,Receita_Liquida_3m,EBIT_3m,Lucro_Liquido_3m
WEGE3,WEGE3,ON N1,WEG SA ON N1,Máquinas e Equipamentos,"Motores, Compressores e Outros",42.33,2025-07-07,41.33,57.92,302040000,...,25120500000,3235280000,-2422390000,21281600000,40032200000,8849170000,6260660000,10078600000,2108610000,1546040000

In [15]:
# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

In [16]:
# Criando um df com algumas infos da carteira
ind = fundamentus.get_papel(carteira_fund)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado',
                                            'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m',
                                            'Lucro_Liquido_12m', 'Lucro_Liquido_3m']]
ind.head(3)

2025-07-08 22:20:20,293 [detalhes.get_papel] INFO: detalhes: call: get..._list()
2025-07-08 22:20:20,294 [detalhes.get_detalhes_list] INFO: get list: [Papel: ABEV3]
2025-07-08 22:20:20,347 [detalhes.get_detalhes_list] INFO: get list: [Papel: B3SA3]
2025-07-08 22:20:20,402 [detalhes.get_detalhes_list] INFO: get list: [Papel: ELET3]
2025-07-08 22:20:20,452 [detalhes.get_detalhes_list] INFO: get list: [Papel: GGBR4]
2025-07-08 22:20:20,504 [detalhes.get_detalhes_list] INFO: get list: [Papel: ITSA4]
2025-07-08 22:20:20,553 [detalhes.get_detalhes_list] INFO: get list: [Papel: PETR4]
2025-07-08 22:20:20,601 [detalhes.get_detalhes_list] INFO: get list: [Papel: RENT3]
2025-07-08 22:20:20,648 [detalhes.get_detalhes_list] INFO: get list: [Papel: SUZB3]
2025-07-08 22:20:20,701 [detalhes.get_detalhes_list] INFO: get list: [Papel: VALE3]
2025-07-08 22:20:20,758 [detalhes.get_detalhes_list] INFO: get list: [Papel: WEGE3]

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ABEV3,Bebidas,13.40,10.50,14.44,211206000000,15761600000,94528300000,91673800000,22497400000,14430900000,3693950000
B3SA3,Serviços Financeiros Diversos,14.65,9.02,14.88,77154200000,5266500000,18794600000,10763600000,2657160000,4733080000,1106080000
ELET3,Energia Elétrica,40.10,32.53,44.49,92576200000,2308630000,121494000000,41877500000,10414200000,9697030000,-353039000

In [17]:
ind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, ABEV3 to WEGE3
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Setor                10 non-null     object
 1   Cotacao              10 non-null     object
 2   Min_52_sem           10 non-null     object
 3   Max_52_sem           10 non-null     object
 4   Valor_de_mercado     10 non-null     int64
 5   Nro_Acoes            10 non-null     object
 6   Patrim_Liq           10 non-null     object
 7   Receita_Liquida_12m  10 non-null     object
 8   Receita_Liquida_3m   10 non-null     object
 9   Lucro_Liquido_12m    10 non-null     object
 10  Lucro_Liquido_3m     10 non-null     object
dtypes: int64(1), object(10)
memory usage: 960.0+ bytes

In [18]:
# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns={"index": "Ativo"}, inplace=True)

# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ABEV3,Bebidas,13.40,10.50,14.44,2.112060e+11,1.576160e+10,9.452830e+10,9.167380e+10,2.249740e+10,1.443090e+10,3.693950e+09
1,B3SA3,Serviços Financeiros Diversos,14.65,9.02,14.88,7.715420e+10,5.266500e+09,1.879460e+10,1.076360e+10,2.657160e+09,4.733080e+09,1.106080e+09
2,ELET3,Energia Elétrica,40.10,32.53,44.49,9.257620e+10,2.308630e+09,1.214940e+11,4.187750e+10,1.041420e+10,9.697030e+09,-3.530390e+08
3,GGBR4,Siderurgia e Metalurgia,16.85,13.89,20.85,3.417510e+10,2.028190e+09,5.601710e+10,6.819170e+10,1.737530e+10,3.272030e+09,7.494930e+08
4,ITSA4,Intermediários Financeiros,10.95,7.91,11.29,1.203820e+11,1.099380e+10,8.593800e+10,8.202000e+09,1.903000e+09,1.521700e+10,3.914000e+09

In [19]:
# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")

ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)

ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)
ind_2.head()

Multiples  Ativo    P/L      DY  P/VP     ROE
0          ABEV3  14.61  0.0690  2.23  0.1527
1          B3SA3  16.23  0.0208  4.09  0.2518
2          ELET3   9.48  0.0441  0.76  0.0798
3          GGBR4  10.46  0.0391  0.61  0.0584
4          ITSA4   7.89  0.0774  1.40  0.1771

In [20]:
# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")


# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores["Nro_Acoes"]).round(2)
indicadores

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m,P/L,DY,P/VP,ROE,LPA,VPA
0,ABEV3,Bebidas,13.40,10.50,14.44,2.112060e+11,1.576160e+10,9.452830e+10,9.167380e+10,2.249740e+10,1.443090e+10,3.693950e+09,14.61,0.0690,2.23,0.1527,0.92,6.00
1,B3SA3,Serviços Financeiros Diversos,14.65,9.02,14.88,7.715420e+10,5.266500e+09,1.879460e+10,1.076360e+10,2.657160e+09,4.733080e+09,1.106080e+09,16.23,0.0208,4.09,0.2518,0.90,3.57
2,ELET3,Energia Elétrica,40.10,32.53,44.49,9.257620e+10,2.308630e+09,1.214940e+11,4.187750e+10,1.041420e+10,9.697030e+09,-3.530390e+08,9.48,0.0441,0.76,0.0798,4.20,52.63
3,GGBR4,Siderurgia e Metalurgia,16.85,13.89,20.85,3.417510e+10,2.028190e+09,5.601710e+10,6.819170e+10,1.737530e+10,3.272030e+09,7.494930e+08,10.46,0.0391,0.61,0.0584,1.61,27.62
4,ITSA4,Intermediários Financeiros,10.95,7.91,11.29,1.203820e+11,1.099380e+10,8.593800e+10,8.202000e+09,1.903000e+09,1.521700e+10,3.914000e+09,7.89,0.0774,1.40,0.1771,1.38,7.82
5,PETR4,"Petróleo, Gás e Biocombustíveis",32.06,28.88,36.60,4.132130e+11,1.288870e+10,3.958410e+11,4.962520e+11,1.231440e+11,4.811500e+10,3.520900e+10,8.71,0.1722,1.06,0.1216,3.73,30.71
6,RENT3,Diversos,38.69,27.01,47.24,4.188660e+10,1.082620e+09,2.643260e+10,3.872450e+10,1.013930e+10,1.923060e+09,8.432470e+08,21.55,0.0461,1.57,0.0728,1.78,24.42
7,SUZB3,Madeira e Papel,51.01,49.58,64.87,6.448270e+10,1.264120e+09,3.839830e+10,4.949760e+10,1.155290e+10,-9.534700e+08,6.340760e+09,-67.52,0.0396,1.68,-0.0248,-0.75,30.38
8,VALE3,Mineração,54.39,49.20,61.36,2.468770e+11,4.539010e+09,2.020820e+11,2.115250e+11,4.741100e+10,3.146500e+10,8.164000e+09,7.87,0.0871,1.23,0.1557,6.93,44.52
9,WEGE3,Máquinas e Equipamentos,42.33,41.33,57.92,1.776720e+11,4.197320e+09,2.128160e+10,4.003220e+10,1.007860e+10,6.260660e+09,1.546040e+09,27.23,0.0201,8.01,0.2942,1.49,5.07

In [ ]:
# Importando as bibliotecas
import fundamentus
import pandas as pd

# Definindo a carteira de ações
carteira_fund = ["ABEV3", "B3SA3", "ELET3", "GGBR4", "ITSA4",
                 "PETR4", "RENT3", "SUZB3", "VALE3", "WEGE3"]

# Criando um df com algumas infos da carteira
ind = fundamentus.get_papel(carteira_fund)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado',
                                            'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m',
                                            'Lucro_Liquido_12m', 'Lucro_Liquido_3m']]
# Passando o ticker para uma coluna
ind = ind.reset_index()
ind.rename(columns = {'index':'Ativo'}, inplace=True)

# Alterando colunas object para numeric
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors='coerce', axis=1)

# Criando um novo df com alguns indicadores da carteira
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query("papel in @carteira_fund")
ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop=True)
ind_2.rename(columns={'papel': 'Ativo','Div.Yield':'DY'}, inplace= True)

# Concatenando os dfs em um só com as infos e indicadores
indicadores = pd.merge(ind, ind_2, on="Ativo")

# Criando uma coluna para LPA (Lucro por Ação) e VPA (Valor Patrimonial por ação)
# para calcular a fórmula de Graham  Valor intrínseco de uma ação (VI = √22,5 x LPA x VPA)
indicadores["LPA"] = (indicadores["Lucro_Liquido_12m"] / indicadores ["Nro_Acoes"]).round(2)
indicadores["VPA"] = (indicadores["Patrim_Liq"] / indicadores ["Nro_Acoes"]).round(2)

del ind, ind_2, carteira_fund, colunas